.registration__form {
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #351c70;
}

.registration__heading {
  padding-bottom: 1rem;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.registration__input {
  padding: .5rem 1rem;
  width: calc(100% - 2rem);
  margin-bottom: .5rem;
}

.registration__input:last-of-type {
  margin-bottom: 2rem;
}

.registration__button {
  align-self: flex-end;
  padding: .5rem 1rem;
  width: 40%;
  font-weight: bold;
}
